/* Reset styles */
* {
  color: black;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  background-color: #333;
  font-size: 20px;
}

hr {
  margin: 20px 0;
}

figure {
  text-align: center;
}

ul {
  list-style: none;
}

ul li {
  text-indent: 10px;
}

#navigation {
  background-color: antiquewhite;
  padding: 16px;
  text-transform: uppercase;
}

#navigation a {
  display: inline-block;
  /* We need block or inline-block to have some properties like 'min-width' to have any effect. */
  min-width: 48px;
}

#navigation li {
  color: honeydew;
  display: inline;
  margin-right: 25px;
  text-decoration: none;
}

#content {
  padding: 10px;
}

.flt-lft {
  float: left;
  margin-right: 10px;
}

.container {
  background: white;
  margin: auto;
  width: 960px;
}

#content {
  background-color: springgreen;
}