h3 {
  background-color: cornflowerblue;
}

p {
  font-size: 50px;
  color: hotpink;
}

ul {
  background-color: antiquewhite;
  color: chocolate;
  padding: 0;
}

#navigation li {
  color: honeydew;
  display: inline;
}

li:first-child {
  margin-right: 25px;
}

.aquify {
  background-color: aqua;
}

.container {
  width: 960px;
}

.tomatify {
  color: tomato;
}

#content {
  background-color: springgreen;
}