/* Reset styles */
* {
  color: black;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  background-color: #333;
  font-size: 20px;
}

hr {
  margin: 20px 0;
}

figure {
  text-align: center;
}

ul {
  list-style: none;
}

ul li {
  text-indent: 10px;
}
  background-color: antiquewhite;
  color: chocolate;
  padding: 0;
}

#navigation li {
  color: honeydew;
  display: inline;
}

li:first-child {
  margin-right: 25px;
}

.aquify {
  background-color: aqua;
}

.container {
  background: white;
  margin: auto;
  width: 960px;
}

.tomatify {
  color: tomato;
}

#content {
  background-color: springgreen;
}